body {
    background-image: url(https://i.imgur.com/ZmSzAcL.jpeg);
    background-size: cover;
    text-align: center;
}

.button {
    border-radius: 12px;
    padding: 12px;
    background-color: #b800ff;
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
}


#sleep-btn {
    border-radius: 12px;
    padding: 12px;
    background-color: #b800ff;
    color: white;
    font-family: 'ArcadeClassic', sans-serif;
    margin: 10px;
}

h1 {
    font-size: 100px;
    font-family: 'ArcadeClassic', sans-serif;
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(184,0,255,1) 0%, rgba(0,212,255,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}

input {
    font-family: 'ArcadeClassic', sans-serif;
}

#name {
    font-size: 50px;
    font-family: 'ArcadeClassic', sans-serif;
    color: #00d4ff;
    float: right;
    margin-right: 70px;
    position: absolute;
    top: 50px;
    right: 70px;
}
.display {
    position: relative;
}

#current-day {
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 50px;
    color: #00d4ff;
    float: left;
    margin-left: 70px;
    position: absolute;
    top: 50px;
    left: 55px;
    
}

#action-points {
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 30px;
    color: #00d4ff;
    position: absolute;
    top: 130px;
    left: 125px;
}

.stats {
    font-family: 'ArcadeClassic', sans-serif;
    display: inline-block;
}

#sprite {
    max-width: 20%;
    height: auto;
    
}

#result-msg {
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 60px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

header {
    text-align: left;
}

